.staffer {
  display: inline-flex;
  margin: 20px;
  width: 324px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px  rgba(0, 0, 0, 0.151);

  .staffer-image {
    border-radius: 20%;
    height: 100px;
    margin: 8px;
  }
 
  p,
  .staffer-name {
    margin: $sp-1 !important;
  }

  .staffer-pronouns {
    @extend .label, .text-grey-dk-100, .bg-grey-lt-200;
  }

  .staffer-meta {
    @extend .text-grey-dk-000;
  }
}
 
